pytest
requests
loguru
pathlib
beautifulsoup4
click==7.0
pathlib==1.0.1
boto3==1.12.41
pymongo==3.10.1
python-magic==0.4.15
elasticsearch==7.6.0
elasticsearch_dsl==7.1.0
py2neo==4.3.0
protobuf==3.11.3
bsdiff4==1.1.9
docopt==0.6.2
pycryptodome==3.9.7
progressbar==2.5
brotli==1.0.7
~
